/* 버튼 스타일 */
button {
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #4CAF50; /* 수정된 색상 */
  color: white;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* QR 코드 출력 영역 스타일 */
#qrCode {
  margin: 20px 0;
}

/* 다운로드 버튼 스타일 */
#downloadBtn {
  display: none;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #007bff;  /* 파란색 버튼 */
  color: white;
}

#downloadBtn:hover {
  background-color: #0056b3;
}
